TLS=false
CONFIG={"APP_NAME":"FundStock","APP_ENV":"dev","APP_URL":"http://127.0.0.1","APP_PORT":8888,"APP_PPROF":true,"HTTPS":0,"ADDRESS_LIMIT":true,"DB_CONNECTION":"mysql","DB_HOST":"localhost","DB_PORT":3306,"DB_DATABASE":"maccms","DB_USERNAME":"root","DB_PASSWORD":"123456","DB_PREFIX":"t_","REDIS_HOST":"127.0.0.1","REDIS_PASSWORD":"","REDIS_PORT":6379,"REDIS_DB":0,"PW_SALT":"xw2023-06-08","LOG_MYSQL_DEBUG":true,"LOG_MYSQL_ERROR":true,"LOG_MYSQL_WARN":true,"NOTIFY_EMAIL":"mail@54zm.com","bark":{"url":"https://api.day.app/","key":{"mac":"YvemvqzPAgvc2ASqwcP2KH","iphone":"nPuFoXfYsMpVrUaqU8to99"},"logo":"https://avatars.githubusercontent.com/u/135967790?s=400&u=0efb3cc947e9f0c2165c11f65f374524cb48915d&v=4"},"wechat":{"botUrl":"http://106.52.198.173:8000","guid":"68d4ebef-f854-3387-ab40-7832d51dab25","BelongWx":"xiaomg_zs"}}